#map_container{
  height: 80%;
  width: 80%;
  left: 10%;
  position: fixed;
  border-style: solid;
  border-color: black;
}

#map_container #map {
  height: 100%; 
  width: 100%;
  position: absolute;
  z-index: 0;
}

#map_container #control_widget{
  height: 100%;
  width: 2%;
  position: absolute;
  z-index: 1;
  left: 98%;
  background-color: hsla(0, 0%, 40%, 0.90);
}