#map_container{
  height: 500px;
  width: 900px;
  left: 10%;
  position: fixed;
  border-style: solid;
  border-color: black;
}

#map_container #map {
  height: 100%; 
  width: 100%;
  position: absolute;
  z-index: 0;
}

#map_container #control_widget{
  height: 100%;
  width: 2%;
  position: absolute;
  z-index: 1;
  left: 98%;
  background-color: hsla(0, 0%, 40%, 0.90);
}

#map_container #control_widget button {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: white;
  border-color: black;
  border-style: solid;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  left: -15px;
  top: 48%;
}

#map_container #control_widget button:hover {
  cursor: pointer;
}